{% extends "base.html" %}
{% block title %}Кошница{% endblock %}

{% block content %}
<h2>Кошница</h2>

{% if items %}
<table>
    <tr>
        <th>Продукт</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Сума</th>
    </tr>
{% for item in items %}
  <tr>
    <td>{{ item.product_name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.quantity * item.price }}</td>
  </tr>
{% endfor %}
</table>

<p><strong>Общо сума: {{ total }} лв.</strong></p>

<form action="{{ url_for('cart.clear_cart_route') }}" method="GET" style="display:inline;">
    <button type="submit">Изчисти кошницата</button>
</form>

<a href="{{ url_for('cart.checkout') }}">
    <button type="submit">Поръчай</button>
</a>

{% else %}
<p>Кошницата е празна.</p>
{% endif %}
{% endblock %}