{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}

<div class="auth_container">
    <div class="card">
        <h2>Вход</h2>
        <form method="POST" class="form">
            <div class="form-group">
                <label for="email">Имейл:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Парола:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn">Влез</button>
        </form>
    </div>
</div>

{% endblock %}
